# Ignore compiled ouputs in the following directories
math/*
sorting/*
searching/*
problems/*

# Do not ignore files with nim as extentions
!**/*.nim

# Ignore VSCode Config
.vscode/

# Nim Memory
nimcache/
nimblecache/

htmldocs/
